services:
  - type: web
    name: saif-portfolio-backend
    runtime: docker
    repo: https://github.com/saifawan129/Saif-ur-rehman
    rootDir: backend
    plan: free
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
